@using LoginWeb.Identity
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--
    Example of how to use identity claims within views.
    Works the same way inside the controller.
    -->
    <h1 class="display-4">Welcome @User.Identity.GetName() - @User.Identity.GetJob()</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
